*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.error{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.error_title{
    font-size: 5rem;
}
.error_text{
    margin-top: 5rem;
}