*{
  margin:0;
  padding:0;
  box-sizing: border-box;
 
}
header{
  color:white;
  margin-bottom:3rem;
}
main{
 background-color:teal;
 color:white;


}
button{
  margin-top:2rem;
  width: 10rem;
  height: 2rem;
  color:black;
  display: flex;
  align-items: center;
  justify-content: center;

}

#single{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#single a{
  color:black;
}

.container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  
}
